<h1> go admin<a href= "{{ path ('nueva_noticia')}}"> admin </a></h1>
<h1> go administration products<a href= "{{ path ('admin_products')}}"> admin_products </a></h1>
<h1> go administration clients<a href= "{{ path ('admin_clients')}}"> admin_clientes </a></h1>